/* Establecer la fuente y los colores */
body {
    font-family: 'Lato', sans-serif;
    background-color: #FDFDFD; /* Fondo blanco */
    color: #3D2C41; /* Texto principal */
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: #3D2C41; /* Títulos con color principal */
}

/* Estilos para el encabezado */
header {
    background-color: #7A9E9F; /* Color de fondo del header */
    color: white;
    padding: 30px 20px;
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FCFCFC; /* Fondo del menú */
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

header nav .logo {
    width: 150px; /* Tamaño del logo */
    margin-bottom: 20px; /* Separación del logo */
}

header nav p.slogan {
    font-family: 'Lato', sans-serif;
    color: #3D2C41; /* Color del slogan */
    font-size: 1.5rem; /* Tamaño de la fuente del slogan */
    margin-left: 15px; /* Separación con el logo */
    font-weight: 400;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #3D2C41; /* Color del texto en el menú */
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem; /* Tamaño similar al del menú de la página que copiaste */
}

.hero {
    background-color: #3D2C41; /* Fondo oscuro para la sección principal */
    color: white;
    padding: 50px 0;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    font-size: 1.2rem;
}

/* Estilos para las secciones */
section {
    padding: 50px 20px;
    text-align: center;
}

#services .service-item {
    margin: 20px 0;
}

#services .service-item h3 {
    color: #7A9E9F;
}

#services .service-item p {
    font-size: 1rem;
}

/* Estilo de los formularios */
form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

form input, form textarea, form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

form button {
    background-color: #7A9E9F;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #3D2C41;
}

/* Estilos del pie de página */
footer {
    background-color: #CFCFCF; /* Fondo gris claro */
    text-align: center;
    padding: 20px;
}

